@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

div {
    margin: 20px;
}

div > h1 {
    margin-bottom: 10px;
}

div > input {
    padding: 10px;
    margin-right: 10px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

#branco {
    background-color: white;
}

#branco:hover {
    background-color: rgb(216, 216, 216);
}


#verde {
    background-color: #12b912;
}

#verde:hover {
    background-color: #0e7a0e;
}

#vermelho {
    background-color: #e22121;
}

#vermelho:hover {
    background-color: #871212;
}

#azul {
    background-color: #4949ec;
}

#azul:hover {
    background-color: rgb(48, 48, 160);
}

#aleatorio {
    background-color: white;
}

#aleatorio:hover {
    background-color: rgb(184, 184, 184);
}
